<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 遊戲結束
        link(href='https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap' rel='stylesheet')
    body
        .wrap.bg-primary
            .playEnd-container
                .playEnd-content
                    span.title GAME OVER
                    .score
                        span.score__title score
                        span#score.score__num
                    span.message please enter [space] back to main start
