.wrap {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}

.color-dark {
    color: black;
}

.color-light {
    color: white;
}

.bg-dark {
    background: black;
}

.bg-primary {
    background: #9AC502;
}